<footer>
    <div class="footer-top">
        <div class="footer-top__logo" [routerLink]="[ '/home']" routerLinkActive="active">
            <img src="../../../assets/logo.svg" alt="" width="123px">
        </div>
        <div class="socials">
            <div class="social"><img src="../../../assets/facebook-icon.svg" alt=""></div>
            <div class="social"><img src="../../../assets/instagram-icon.svg" alt=""></div>
        </div>
        <div class="footer-top__menu">
            <div class="menu-category" [routerLink]="[ '/discount']" routerLinkActive="">Акції</div>
            <div class="menu-category" [routerLink]="[ '/about']" routerLinkActive="active">Про нас</div>
            <div class="menu-category" [routerLink]="[ '/']" routerLinkActive="active">Оферти</div>
        </div>
        <div class="footer-top__info">
            <div class="delivery-address block">
                <h3>Точки самовивозу</h3>
                <span>вул. Володимира Великого, 10в</span>
                <span>вул. Чорновола, 95</span>
            </div>
            <div class="order-phone block">
                <h3>Оформити замовлення</h3>
                <span>(097) 878 08 37</span>
            </div>
            <div class="work-time block">
                <h3>Графік роботи</h3>
                <span>працюємо з 11:00 до 22:30</span>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <span class="tabletSpan">© 2023 Monosushi</span>
        <div class="pay-metods">
            <div class="card"><img src="../../../assets/pay-card-img-1.svg" alt=""></div>
            <div class="card"><img src="../../../assets/pay-card-img-2.svg" alt=""></div>
            <div class="card"><img src="../../../assets/pay-card-img-3.svg" alt=""></div>  
        </div>
        <div class="socials">
            <span>Слідкуйте за нами</span>
            <div class="social"><img src="../../../assets/facebook-icon.svg" alt=""></div>
            <div class="social"><img src="../../../assets/instagram-icon.svg" alt=""></div>
        </div>
        <span class="mobileSpan">© 2023 Monosushi</span>
        <span>Cтворення сайтів <b>IgorVelychko</b></span>
    </div>
</footer>
