<main>
    <div class="category-name"><span >{{categoryName}}</span> </div>
</main>
    <div class="products">
        <div class="product-category-list" >
            <div [ngClass]="{'product-category-active': category==1,'product-category': category!=1}" (click)="activate($event)" id="1">Всі</div>
            <div [ngClass]="{'product-category-active': category==2,'product-category': category!=2}" (click)="activate($event)" id="2">Філадельфія</div>
            <div [ngClass]="{'product-category-active': category==3,'product-category': category!=3}" (click)="activate($event)" id="3">Каліфорнія</div>
            <div [ngClass]="{'product-category-active': category==4,'product-category': category!=4}" (click)="activate($event)" id="4">Запечені</div>
            <div [ngClass]="{'product-category-active': category==5,'product-category': category!=5}" (click)="activate($event)" id="5">фірмові</div>
            <div [ngClass]="{'product-category-active': category==6,'product-category': category!=6}" (click)="activate($event)" id="6">Макі</div>
            <div [ngClass]="{'product-category-active': category==7,'product-category': category!=7}" (click)="activate($event)" id="7">Преміум</div>
        </div>
        <div class="product-list">
            <div class="product" *ngFor="let info of productStorage">
                <img [src]="info.img" alt="">
                <div class="info">
                    <span class="name">{{info.name}}</span><br>
                    <span class="components">{{info.components}}</span>
                    <span class="weight">{{info.weight}}г</span>
                </div>
                <div class="purchase-block">
                    <span class="price">{{info.price}} <span>грн</span></span>
                    <div class="count-block">
                        <div class="minus">-</div>
                        <div class="num">1</div>
                        <div class="plus">+</div>
                    </div>
                    <button class="order">ЗАМОВИТИ</button>
                </div>
            </div>
        </div>
    </div>
