<main>
    <div class="title"><span>Доставка та оплата</span></div>
    <div class="info">
        <div class="delivery-info-blocks">
            <div class="block">
                <img src="../../../assets/mn-delivery-img.svg" alt="" />
                <div class="text">
                <span class="title green">Зелена зона</span>
                <p>
                    В межах зеленої зони ми доставляємо протягом
                    <span class="green">1 год.</span>
                </p>
                <p>
                    Мінімальна сума замовлення в цю зону становить
                    <span class="green">300 грн.</span>
                </p>
                </div>
            </div>
            <div class="block">
                <img src="../../../assets/mn-delivery-img.svg" alt="" />
                <div class="text">
                <span class="title yellow">Жовта зона</span>
                <p>
                    В межах жовтої зони ми доставляємо протягом 
                    <span class="yellow">1.5 год.</span>
                </p>
                <p>
                    Мінімальна сума замовлення в цю зону становить 
                    <span class="yellow">400 грн.</span>
                </p>
                </div>
            </div>
        </div>
        <div class="map">
            <img src="../../../assets/Снимок экрана 2023-03-08 112711.png" alt="">
            <div class="description">
                <p>
                    Команда «Monosushi» пропонує надзвичайно зручну систему доставки та оплати.
                    Чіткість наших стандартів роботи забезпечує швидке і якісне виконання замовлень для наших гостей
                </p>
                <p>
                    Ми поділили Львів на умовні зони доставки – зелену та жовту. Для кожної зони ми чітко визначаємо час доставки. <br>
                    Зелена зона доставки знаходиться ближче до нашої кухні, тому замовлення в цю зону доставляються – до
                     1 год. В жовту зону, яка знаходиться значно далі – до 1,5 год
                </p>
            </div>
        </div>
        <div class="payment">
            <h2 class="title">Оплата</h2>
            <div class="payment-methods">
                <div class="method border">
                    <div class="img"><img src="../../../assets/pay-info-img-3.svg" alt=""></div>
                    <div class="text">
                        <h2>Оплата готівкою</h2>
                        <p>Розраховуйтесь за свої улюблені сушики готівкою при отриманні.</p>
                    </div>
                </div>
                <div class="method">
                    <div class="img"><img src="../../../assets/pay-info-img-1.svg" alt=""></div>
                    <div class="text">
                        <h2>Безготівкова оплата</h2>
                        <p>Розраховуйтесь за свої улюблені сушики онлайн або карткою при отриманні.</p>
                    </div>
                </div>
                <div class="description">
                    <p>
                        Ми пропонуємо Вам 3 найпоширеніші варіанти для розрахунку: готівка, оплата онлайн або ж розрахунок карткою.</p>
                    <p>
                        Просто позначте найбільш зручний для Вас спосіб оплати при оформленні замовлення на сайті або ж повідомте про це оператора по телефону.</p>
                    <p>
                        Доставка «Моносуші» – це чіткі стандарти роботи, високий рівень сервісу та турбота про кожного гостя. Ми щодня розвиваємось, щоб почути лише три слова «Моносуші – це любов».</p>
                </div>
            </div>
        </div>
    </div>
</main>